<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>鲜花网|中国鲜花礼品网-中国鲜花网,鲜花速递,网上送花网站触屏版Hua.com</title>
		<meta name="description" content="中国鲜花礼品网(花礼网)Hua.com-中国鲜花网领先品牌,专注鲜花速递服务12年！鲜花网提供24小时订鲜花，同城送花、异地送花服务，最快3小时送花达1000多城市!" />
    	<meta name="keywords" content="花礼网触屏版,中国鲜花礼品网,鲜花,鲜花网,中国鲜花网,鲜花速递,送花网站" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<link type="text/css" rel="stylesheet" href="css/hua.css"/>
		<link type="text/css" rel="stylesheet" href="css/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="css/nivo-slider.css" media="screen">
		
		
	</head>
	<body>
	<div class="container" ng-app="myApp">
		<header class="header">
			<div class="header_img"><a href=""><img src="img/logo@2x.png" alt="logo"/></a></div>
			<div class="search_login_box">
				    <div class="search_box">
				    	<a href="./html/classify.html">
                     	     <span class="search_icon"></span>
                    		<input type="search" id="sq" name="sq" class="new-input" required="required" placeholder="情人节鲜花" style="color:#232323;width:80%;"> 
                    	</a>	
				    </div>
				    <div class="notice" style="display:none">
					    <a href="/member/membercenter/"><span class="notice_icon"></span></a>
				    </div>
				    <div class="login">
					    <a href="/Passport/Login/">登录</a>
				    </div>
			</div>
		</header>
	
	
	
		<section>
			<!--轮播图开始-->
			<div id="slider-container">
  				<div id="slider" class="nivoSlider">
					<a href=""><img title="#htmlcaption1" src="img/17_spz_m.jpg"></a>
					<a href=""><img title="#htmlcaption2" alt="" src="img/17_yga_m.jpg"></a>
					<a href=""><img title="#htmlcaption3" alt="" src="img/18_valentine_m.jpg"></a>
  				</div>
  			</div>
	    	<!--轮播图结束-->
	    	
	    	<div class="conpany_info">
				<ul>
					<li style="width:25%">· 认证龙头企业</li>
					<li style="width:21%">· 12年品牌</li>
					<li style="width:21%">· 3小时送达</li>
					<li style="width:33%">· 最近<a  href="" id="pjCount">216459</a>条好评</li>
				</ul>
			</div>
			
			<div class="pro_type_box">
				<div class="pro_type">
					<ul>
						<li>
							<a href="">
								<img src="img/xianhua_icon.png" alt="鲜花">
								<p>鲜花</p>
							</a>
						</li>
						<li>
							<a href="">
								<img src="img/yongshenghua_icon.png" alt="永生花">
								<p>永生花</p>
							</a>
						</li>
						<li>
							<a href="">
								<img src="img/cake_icon.png" alt="蛋糕">
								<p>蛋糕</p>
							</a>
						</li>
						<li>
							<a href="">
								<img src="img/gift_icon.png" alt="礼品">
								<p>礼品</p>
							</a>
						</li>
						<li>
							<a href="">
								<img src="img/choclate_icon.png" alt="巧克力">
								<p>巧克力</p>
							</a>
						</li>
					</ul>
				</div>
			    <div class="category">
			        <a href=""><img src="img/cate-love.png"/><p>爱情鲜花</p></a>
			        <a href=""><img src="img/cate-friend.png"/><p>友情鲜花</p></a>
			        <a href=""><img src="img/cate-parent.png"/><p>送长辈鲜花</p></a>
			        <a href=""><img src="img/cate-business.png"/><p>商务鲜花</p></a>
			    </div>
			</div>
			
		<!--热销鲜花区-->	
			<div class="featured">
				<div class="title">
					<div class="title_line"></div>
					<p class="title_name">热销鲜花</p>
				</div>
			</div>
			<div class="fea_pro_list" style="border-bottom:8px solid #eee;">
				<ul>
					<li>
						<div class="pro_box">
							<a href="">
								<img src="img/9010011.jpg_220x240.jpg" alt="鲜花/一心一意">
								<div class="pro_text">
									<p class="pro_name">鲜花/一心一意</p>
									<p class="pro_detail">玫瑰11枝，粉色勿忘我0.3扎</p>
									<p class="pro_price">￥146</p>
								</div>
							</a>
						</div>
					</li>
					<li>
						<div class="pro_box">
							<a href="">
								<img src="img/9012223.jpg_220x240.jpg" alt="鲜花/我只钟情你">
								<div class="pro_text">
									<p class="pro_name">鲜花/我只钟情你</p>
									<p class="pro_detail">香槟玫瑰11枝、白色小雏菊3枝</p>
									<p class="pro_price">￥238</p>
								</div>
							</a>
						</div>
					</li>
					<li>
	                    <div class="pro_box">
	                        <a href="">
	                            <img  class="lazyimg" src="img/9012288.jpg_220x240.jpg"  alt="鲜花/心连心">
	                            <div class="pro_text">
	                                <p class="pro_name">鲜花/心连心</p>
	                                <p class="pro_detail">红玫瑰19枝，龙柳心型小架构</p>
	                                <p class="pro_price">￥239</p>
	                            </div>
	                        </a>
	                    </div>
	                </li>
					<li>
	                    <div class="pro_box">
	                        <a href="">
	                            <img  class="lazyimg" src="img/9012011.jpg_220x240.jpg"  alt="鲜花/阳光海岸">
	                            <div class="pro_text">
	                                <p class="pro_name">鲜花/阳光海岸</p>
	                                <p class="pro_detail">19枝香槟玫瑰</p>
	                                <p class="pro_price">￥228</p>
	                            </div>
	                        </a>
	                    </div>
	                </li>
					<li>
						<div class="pro_box">
							<a href="">
								<img  class="lazyimg" src="img/9012177.jpg_220x240.jpg" alt="鲜花/不变的承诺">
								<div class="pro_text">
									<p class="pro_name">鲜花/不变的承诺</p>
									<p class="pro_detail">99枝红玫瑰</p>
									<p class="pro_price">￥679</p>
								</div>
							</a>
						</div>
					</li>
					<li>
	                    <div class="pro_box">
	                        <a href="">
	                            <img  class="lazyimg"  src="img/9010849.jpg_220x240.jpg"  alt="鲜花/缘份">
	                            <div class="pro_text">
	                                <p class="pro_name">鲜花/缘份</p>
	                                <p class="pro_detail">11枝红玫瑰,2枝多头白香水百合</p>
	                                <p class="pro_price">￥199</p>
	                            </div>
	                        </a>
	                    </div>
	                </li>
					<li>
						<div class="pro_box">
							<a href="">
								<img  class="lazyimg" src="img/9010947.jpg_220x240.jpg"  alt="鲜花/真爱如初">
								<div class="pro_text">
									<p class="pro_name">鲜花/真爱如初</p>
									<p class="pro_detail">雪山玫瑰11枝、深紫色勿忘我0.3扎</p>
									<p class="pro_price">￥206</p>
								</div>
							</a>
						</div>
					</li>
					<li>
						<div class="pro_box">
							<a href="">
								<img  class="lazyimg" src="img/9010966.jpg_220x240.jpg"  alt="鲜花/一往情深">
								<div class="pro_text">
									<p class="pro_name">鲜花/一往情深</p>
									<p class="pro_detail">精品玫瑰礼盒:19枝红玫瑰，勿忘我适量</p>
									<p class="pro_price">￥245</p>
								</div>
							</a>
						</div>
					</li>
					<li>
						<div class="pro_box">
							<a href="">
								<img  class="lazyimg" src="img/9012161.jpg_220x240.jpg" alt="鲜花/爱的诺言">
								<div class="pro_text">
									<p class="pro_name">鲜花/爱的诺言</p>
									<p class="pro_detail">红玫瑰19枝，白色腊梅2枝</p>
									<p class="pro_price">￥209</p>
								</div>
							</a>
						</div>
					</li>
					<li>
						<div class="pro_box">
							<a href="">
								<img class="lazyimg" src="img/9012126.jpg_220x240.jpg"  alt="鲜花/情有独钟">
								<div class="pro_text">
									<p class="pro_name">鲜花/情有独钟</p>
									<p class="pro_detail">戴安娜粉玫瑰50枝</p>
									<p class="pro_price">￥379</p>
								</div>
							</a>
						</div>
					</li>
					<li>
						<div class="pro_box">
							<a href="">
								<img  class="lazyimg" src="img/9012089.jpg_220x240.jpg"  alt="鲜花/爱在心头">
								<div class="pro_text">
									<p class="pro_name">鲜花/爱在心头</p>
									<p class="pro_detail">玫瑰50枝：戴安娜粉玫瑰19枝，红玫瑰31枝</p>
									<p class="pro_price">￥389</p>
								</div>
							</a>
						</div>
					</li>
					<li>
						<div class="pro_box">
							<a href="">
								<img  class="lazyimg" src="img/9012284.jpg_220x240.jpg"  alt="鲜花/「熊抱花束」喜欢你">
								<div class="pro_text">
									<p class="pro_name">鲜花/「熊抱花束」喜欢你</p>
									<p class="pro_detail">卡罗拉33枝、红色朱蕉叶3枝、千代兰7枝、大红色多头玫1.5扎</p>
									<p class="pro_price">￥698</p>
								</div>
							</a>
						</div>
					</li>
				</ul>
				<div>
					<a href="" class="more_btn">全部鲜花></a>
				</div>
			</div>
<!-- 热销永生花 -->
		<div class="featured">
			<div class="title">
				<div class="title_line"></div>
				<p class="title_name">热销永生花</p>
			</div>
		</div>
		<div class="fea_pro_list" style="border-bottom:8px solid #eee;" ng-controller="ctrla">
			<ul>
				<li ng-repeat="x in obj">
					<div class="pro_box" >
						<a href="">
							<img  class="lazyimg" ng-src="{{x.mainImg}}"  alt="{{x.name}}">
							<div class="pro_text">
								<p class="pro_name">{{x.name}}</p>
								<p class="pro_detail">{{x.info}}</p>
								<p class="pro_price">{{x.newPrice}}</p>
							</div>
						</a>
					</div>
				</li>
			</ul>
			<div>
				<a href="/yongshenghua/" class="more_btn">全部永生花></a>
			</div>
		</div>
		
		
		
<!-- 热销礼品 -->
		<div class="featured">
			<div class="title">
				<div class="title_line"></div>
				<p class="title_name">热销礼品</p>
			</div>
		</div>
		<div class="fea_pro_list" style="border-bottom:8px solid #eee;" ng-controller="ctrlb">
			<ul>
				<li ng-repeat="x in obj">
					<div class="pro_box" >
						<a href="">
							<img  class="lazyimg" ng-src="{{x.mainImg}}"  alt="{{x.name}}">
							<div class="pro_text">
								<p class="pro_name">{{x.name}}</p>
								<p class="pro_detail">{{x.info}}</p>
								<p class="pro_price">{{x.newPrice}}</p>
							</div>
						</a>
					</div>
				</li>
			</ul>
			<div>
				<a href="" class="more_btn">全部礼品></a>
			</div>
		</div>
		
		
<!-- 企业信息 -->
    <div class="business" ng-controller="ctrlc">
        <div class="business_box">
            <ul >
                <li class="active" ng-click="change1()" >
                	<img ng-show = "tog11"  src="img/brand_icon01_1.png" alt="行业龙头">
                	<img ng-show = "tog12" src="img/brand_icon010_1.png" alt="">
                	<span>行业龙头</span>
                </li>
                <li ng-click="change2()">
                	<img ng-show = "tog21" src="img/brand_icon02_1.png" alt="品牌理念">
                	<img ng-show = "tog22"  src="img/brand_icon020_1.png" alt="">
                	<span>品牌理念</span>
                </li>
                <li ng-click="change3()">
                	<img ng-show = "tog31"src="img/brand_icon03_1.png" alt="3小时送达">
                	<img ng-show = "tog32" src="img/brand_icon030_1.png" alt="">
                	<span>3小时送达</span>
                </li>
                <li ng-click="change4()">
                	<img ng-show = "tog41" src="img/brand_icon04_1.png" alt="送前实拍">
                	<img ng-show = "tog42"  src="img/brand_icon040_1.png" alt="">
                	<span>送前实拍</span>
                </li>
            </ul>
        </div>
        <div class="brand_img_box">
            <div class="swiper-container swiper-container-horizontal">
                <div class="swiper-wrapper">
                    <div class="swiper-slide swiper-slide-active gundimg"><img alt="行业龙头" class="swiper-lazy" src="img/686x400_1.jpg" data-src="//img02.hua.com/m/pro_detail/brand001.jpg?a"><div class="swiper-lazy-preloader"></div></div>
                    <div class="swiper-slide swiper-slide-active gundimg"><img alt="品牌理念" class="swiper-lazy shipin" src="img/686x400_1.jpg" data-src="//img02.hua.com/m/pro_detail/brand002feben.jpg?"><div class="swiper-lazy-preloader"></div></div>
                    <div class="swiper-slide swiper-slide-active gundimg"><img alt="3小时送达" class="swiper-lazy" src="img/686x400_1.jpg" data-src="//img02.hua.com/m/pro_detail/brand003.jpg?a"><div class="swiper-lazy-preloader"></div></div>
                    <div class="swiper-slide swiper-slide-active gundimg"><img alt="送前实拍" class="swiper-lazy" src="img/686x400_1.jpg" data-src="//img02.hua.com/m/pro_detail/brand004.jpg?a"><div class="swiper-lazy-preloader"></div></div>
                </div>
                <div class="swiper-pagination swiper-pagination-clickable">
                </div>
            </div>
        </div>
        <div class="brand_text">
            <div class="active">
                <p>专注鲜花礼品12年，2016年获评“鲜花行业龙头企业”</p>
            </div>
            <div>
                <p>花礼网倡导勇敢表达爱，享受爱的美好</p>
            </div>
            <div>
                <p>覆盖全国1000+城市，最快1~3小时送达</p>
            </div>
            <div>
                <p>坚持公开所有花款实拍，严格管控质量</p>
            </div>
        </div>
    </div>
<!-- 企业信息end -->
	    	
		</section>
		
		
		
		
		<footer>
			<div class="footer">
				<ul>
					<li class="homeli">
						<a href="">
							<span class="home active">
								<i class="iconfont icon-shouye"></i>
							</span>
							<p class="active">首页</p>
						</a>
					</li>
					<li class="catalogueli">
						<a href="./html/classify.html">
							<span class="catalogue">
								<i class="iconfont icon-classify"></i>
							</span>
							<p>分类</p>
						</a>
					</li>
					<li class="cartli" style="position:relative">
						<a href="./html/shopCar.html">
							<span class="cart">
								<i class="iconfont icon-gouwuche"></i>
							</span>
							<p>购物车</p>
						</a>
					</li>
					<li class="myli">
						<a href="./html/my.html">
							<span class="my">
								<i class="iconfont icon-04"></i>
							</span>
							<p>我的</p>
						</a>
					</li>
				</ul>
			</div>
		</footer>
	</div>
	
	
	
	
	<script type="text/javascript" src="js/jquery-1.6.4.min.js"></script>
	<script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/hua.js"></script>
	</body>
</html>
